.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    height: 100vh;
    position: static;
}

.products {
    overflow-x: scroll;
    overflow-x: hidden;
}

.product {
    width: 1220px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.product img {
    margin-bottom: 10px;
}

.user {
    width: 1220px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.user img {
    margin-bottom: 10px;
}

.h4 {
    color: #9197B3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    border: none;
    padding: 30px;
    text-decoration: none;
    transition: 0.5s;
}

.h4_active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: 0.5s;
}

h4>svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #9197B3;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    margin-right: 5px;
}

h1 {
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
}

h1>svg {
    color: #000;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    margin: 10px 5px 0 10px;
}

button {
    display: flex;
    width: 80px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #00B087;
    background: rgba(22, 192, 152, 0.38);
    color: #008767;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}